body{
    background-color: rgb(218, 222, 100);
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    background-color: rgb(204, 54, 17);
}

div{
    margin : 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

#box1{
    background-color: aquamarine;
    border-style:dotted;
    border-radius: 50%;
    border-color: black;
}

#box2{
    background-color: rgb(31, 255, 180);
}